<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8" />
   <title>User Sleep Data </title>


 
   <!-- import plugin script -->
   <script src='static/Chart.min.js'></script>
 
</head>
<body>

<div class="container">
   <div class="row">
    <div class="col-xl-9 mx-auto">
 
<h1>User Sleep Data</h1>
<!-- bar chart canvas element -->
<canvas id="chart" width="900" height="400"></canvas>
 
<script>
 
   // bar chart data
   var barData = {
   labels : [{% for item in results %}
                  "{{ item.datetime }}",
              {% endfor %}],
   datasets : [
      {
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            bezierCurve : false,
            data : [{% for item in results %}
                      //{{ item.mood_id }},
                       {{ item.hours_slept}},
                    {% endfor %}]
      }]
   }
 
    Chart.defaults.global.animationSteps = 50;
    Chart.defaults.global.tooltipYPadding = 16;
    Chart.defaults.global.tooltipCornerRadius = 0;
    Chart.defaults.global.tooltipTitleFontStyle = "normal";
    Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";
    Chart.defaults.global.animationEasing = "easeOutBounce";
    Chart.defaults.global.responsive = false;
    Chart.defaults.global.scaleLineColor = "black";
    Chart.defaults.global.scaleFontSize = 16;
 
   // get the line chart canvas
   var mychart = document.getElementById("chart").getContext("2d");
 
   steps = 10
   max = 10
   // now draw line chart
   var LineChartDemo = new Chart(mychart).Line(barData, {
        //scaleOverride: true,
        scaleSteps: steps,
        scaleStepWidth: Math.ceil(max / steps),
        scaleStartValue: 0,
        suggestedMin: 0,
        scaleShowVerticalLines: true,
        scaleShowGridLines : true,
        barShowStroke : true,
        scaleShowLabels: true,
        bezierCurve: false,
 
   });
 
 
</script> 
 <a href="/diff-chart"> Click here to see your differentials </a>

<table>
  <tr><td>Mood (1-10)</td><td>Date Logged</td><td>Comments</td><td>Hours Slept</td><td>Minutes of Exercise</td></tr>
  {% for result in results %}
   <tr> <td>{{ result.mood_id }}</td>
    <td>{{ result.datetime }}</td>
     <td>{{ result.comments }}</td>
     <td>{{ result.hours_slept }}</td>
      <td>{{ result.exercise_mins }}</td>
  </tr>
    {% endfor %}
</table>
</div>
</body>
</html>