{% extends 'base.html' %}

{% block head %} <title>Login</title> {% endblock %}

{% block content %}

<br>
    <form action="/login" method="POST">
<br>

<div class="container">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
        <div class="row">
          <div class="col-xl-9 mx-auto">

        <h2> Please Log In</h2><br>

        <div class="form">
            <label>Email Address</label>
            <input type="email"
                   name="email">
        </div>
        <br>
        <div class="form">
            <label>Password</label>
            <input type="password"
                   name="password">
                   </div>
                   <br>
        <input type="submit" value= "login">
        

    </form>
</div>
{% endblock %}
