{% extends 'base.html' %}

{% block head %} <title>Log My Mood</title> {% endblock %}

{% block content %}






    <form class="form-signin" action="/track-mood" method="POST">
<br>
<br>

<div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">

        <h1> {{ user.username }}, how are You Feeling?</h1>


  <input type="radio" name="mood" value="10" checked> Really Great!<br>
  <input type="radio" name="mood" value="9"> Great<br>
  <input type="radio" name="mood" value="8"> Very Good<br>
  <input type="radio" name="mood" value="7"> Good<br>
  <input type="radio" name="mood" value="6"> Okay<br>
  <input type="radio" name="mood" value="5"> So-so<br>
  <input type="radio" name="mood" value="4"> Meh<br>
  <input type="radio" name="mood" value="3"> Bad<br>
  <input type="radio" name="mood" value="2"> Very Bad<br> 
  <input type="radio" name="mood" value="1"> Couldn't Be Worse<br>
  <br>    

<label>Comments: </label><br>
 <textarea rows="4" cols="50" name="comment">
Enter text here...</textarea><br>

 <br>
<label>Submit a Hashtag</label><br>
 <textarea rows="4" cols="50" name="hashtag">
#</textarea><br>
       
        <br>

  Hours Slept Today (Between 0 and 24):
  <input type="number" name="hrslept" min="0" max="24">
<br>
<br>
  Minutes Exercised Today (Between 0 and 1440):
  <input type="number" name="exmins" min="0" max="1440">
  



       
  
<br>
<br>
<div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
           
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <form action="/track-mood">
              <div class="form-row">
                <div class="col-12 col-md-9 mb-2 mb-md-0">
                 <!-- <input type="email" class="form-control form-control-lg" placeholder="Enter your email..."> -->
                </div>
<div class="col-12 col-md-0">
                  <button type="submit" class="btn btn-block btn-lg btn-primary">Log Mood!</button>
                </div>
              </div>
            </form>
          </div>
        </div>

        
<br>
<br>
    </form>
</div>
{% endblock %}  

