{% extends 'base.html' %}

{% block content %}

    <form class="form-signin" action="/track-mood" method="POST">

        <h2> How are You Feeling?</h2>


  <input type="radio" name="mood" value="10" checked> Really Great!<br>
  <input type="radio" name="mood" value="9"> Great<br>
  <input type="radio" name="mood" value="8"> Very Good<br>
  <input type="radio" name="mood" value="7"> Good<br>
  <input type="radio" name="mood" value="6"> Okay<br>
  <input type="radio" name="mood" value="5"> So-so<br>
  <input type="radio" name="mood" value="4"> Meh<br>
  <input type="radio" name="mood" value="3"> Bad<br>
  <input type="radio" name="mood" value="2"> Very Bad<br> 
  <input type="radio" name="mood" value="1"> Couldn't Be Worse<br>
  <br>    

<label>Comments: </label><br><br>
 <textarea rows="4" cols="50" name="comment">
Enter text here...</textarea><br>

 <br>
<label>Submit a Hashtag</label><br><br>
 <textarea rows="4" cols="50" name="hashtag">
#</textarea><br>
       
        <br>

  Hours Slept Today (Between 0 and 24):
  <input type="number" name="hrslept" min="0" max="24">
<br>
<br>
  Minutes Exercised Today (Between 0 and 1440):
  <input type="number" name="exmins" min="0" max="1440">
  
<br>
<br>

       
        <br>
<label>Submit a Hashtag</label><br><br>
 <textarea rows="4" cols="50" name="hashtag">
#</textarea><br>
       
        <br>

  Hours Slept Today (Between 0 and 24):
  <input type="number" name="hrslept" min="0" max="24">
<br>
<br>
  Minutes Exercised Today (Between 0 and 1440):
  <input type="number" name="exmins" min="0" max="1440">
  
<br>
<br>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Log Mood! 
        </button>

    </form>

{% endblock %}  

