{% extends 'base.html' %}

{% block head %} <title>User Mood Charts</title> 
<!-- import plugin script -->
   <script src='static/Chart.min.js'></script>
   <!-- import plugin script -->
   <script src='static/Chart.min.js'></script>
   <meta charset="utf-8" />
{% endblock %}

{% block content %}



  <br>
  <br>
 <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
           
         
<h1>User Mood Data</h1>
<!-- bar chart canvas element -->
<canvas id="chart" width="1000" height="600"></canvas>
 
<script>
 
   // bar chart data
   var barData = {
   labels : [{% for item in results %}
                  "{{ item.datetime }}",
              {% endfor %}],
   datasets : [
      {
            label: "Mood",
            fill: false,
            fillColor: "rgba(255,0,0,0.2)",
            strokeColor: "rgba(255,0,0,.4)",
            pointColor: "rgba(255,0,0,.4)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,.4)",
            bezierCurve : false,
            data : [{% for item in results %}
                      {{ item.mood_id }},
                       //{{ item.exercise_mins}},
                    {% endfor %}]
      }, {
        label: "Hours Slept",
        fill: false,
        fillColor: "rgba(0,0,255,0.2)",
            strokeColor: "rgba(0,0,255,.4)",
            pointColor: "rgba(0,0,255,.4)",
        data: [{% for item in results %}
                      {{ item.hours_slept}},
                       //{{ item.exercise_mins}},
                    {% endfor %}]
      }


      ]
   }
 
    Chart.defaults.global.animationSteps = 50;
    Chart.defaults.global.tooltipYPadding = 16;
    Chart.defaults.global.tooltipCornerRadius = 0;
    Chart.defaults.global.tooltipTitleFontStyle = "normal";
    Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";
    Chart.defaults.global.animationEasing = "easeOutBounce";
    Chart.defaults.global.responsive = false;
    Chart.defaults.global.scaleLineColor = "black";
    Chart.defaults.global.scaleFontSize = 16;
 
   // get the line chart canvas
   var mychart = document.getElementById("chart").getContext("2d");
 
   steps = 5
   max = 15
   //options = {
        //legend: {
            //display: true,
            //labels: {
                //fontColor: 'rgb(255, 99, 132)'
           // }
       // }

   // now draw line chart
   var LineChartDemo = new Chart(mychart).Line(barData, {
        scaleOverride: true,
        scaleSteps: steps,
        scaleStepWidth: Math.ceil(max / steps),
        //scaleStartValue: 0,
        suggestedMin: 0,
        scaleShowVerticalLines: true,
        scaleShowGridLines : true,
        //barShowStroke : true,
        scaleShowLabels: true,
        bezierCurve: false,
        //options:options,
 
   });
 
 
</script> 
<br>
 <a href="/diff-chart"> Click here to see your differentials </a><br>
  <a href="/sleep-chart"> Click here to see your sleep data </a><br>
   <a href="/exercise-chart"> Click here to see your exercise data </a><br><br>


<div class="row" id="tablerow">

      <section class="col-12 mx-auto d-lg-block d-md-block d-none">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
                <th>Mood (1-10)</th>
                <th>Date</th>
                <th>Comments</th>
                <th>Hours Slept</th>
                <th>Minutes Exercised</th>
                <th>Hashtag of the Day</th>
            </tr>
            
          </thead>
          {% for result in results %}
          <tr>
            <td>{{ result.mood_id }}</td>
          
          
              <td>{{ result.datetime }}</td>
          
          
              <td>{{ result.comments }}</td>
          
          
              <td>{{ result.hours_slept }}</td>
          
          
              <td>{{ result.exercise_mins }}</td>
          
          
              <td>{% for hashtag in result.hashtags %}
      {{ hashtag.text }}
      {% endfor %}
        </td>
      </tr>
      {% endfor %}
        </table>
      </section>
    </div> 
    <!-- End of table row -->
  </div>





 </div>



</body>
{% endblock %}
</html>